#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Multi WhatsApp Web
Comment=Run multiple WhatsApp Web accounts side by side
Exec=multiwhatsappweb
Icon=com.bellukstudio.multiwhatsappweb
Categories=Network;InstantMessaging;
Terminal=false
StartupWMClass=com.bellukstudio.multiwhatsappweb
